altgraph==0.17
asgiref==3.3.4
atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
CacheControl==0.12.6
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.3
click==8.0.1
colorama==0.4.4
comtypes==1.1.10
cryptography==3.4.8
Deprecated==1.2.13
Django==3.0
django-bootstrap3==15.0.0
django-crispy-forms==1.11.2
django-extensions==3.1.3
django-filter==2.4.0
django-floppyforms==1.9.0
django-mssql-backend==2.8.1
django-pyodbc==1.1.3
django-tables2==2.3.4
django-tempus-dominus==5.1.2.13
django-widget-tweaks==1.4.8
djangorestframework==3.12.4
et-xmlfile==1.1.0
firebase==3.0.1
firebase-admin==5.0.2
future==0.18.2
gcloud==0.18.3
google-api-core==1.31.2
google-api-python-client==2.20.0
google-auth==2.0.2
google-auth-httplib2==0.1.0
google-cloud-core==2.0.0
google-cloud-firestore==2.3.1
google-cloud-storage==1.42.1
google-crc32c==1.1.2
google-resumable-media==2.0.2
googleapis-common-protos==1.53.0
grpcio==1.40.0
gTTS==2.2.3
html5lib==1.1
httplib2==0.19.1
idna==2.10
iniconfig==1.1.1
Jinja2==3.0.1
jwcrypto==1.0
MarkupSafe==2.0.1
msgpack==1.0.2
mssql-django==1.0b1
mysql-connector-python==8.0.25
Naked==0.1.31
numpy==1.20.2
oauth2client==4.1.3
openpyxl==3.0.7
packaging==21.0
pandas==1.2.4
pefile==2021.5.24
Pillow==8.3.1
playsound==1.2.2
pluggy==1.0.0
proto-plus==1.19.0
protobuf==3.17.3
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.10.1
pydub==0.25.1
pyinstaller==4.4
pyinstaller-hooks-contrib==2021.2
pyodbc==4.0.30
pyparsing==2.4.7
pypiwin32==223
Pyrebase4==4.5.0
pytest==6.2.5
python-dateutil==2.8.1
python-jwt==3.3.0
pyttsx3==2.90
pytube==10.9.2
pytz==2021.1
pywin32==301
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.25.1
requests-toolbelt==0.9.1
rsa==4.7.2
shellescape==3.8.1
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
sseclient==0.0.27
toml==0.10.2
typing-extensions==3.10.0.0
uritemplate==3.0.1
urllib3==1.26.4
webencodings==0.5.1
wrapt==1.12.1
xlrd==2.0.1
